body{
    background-color: #0F172A;
    color: #E2E8F0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1{
    color: #F472B6;
}

h2{
    color: #F9A8D4;
}

p{
    color: #E2E8F0;
}

section{
    background-color: #1E293B;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

a{
    color: #F472B6;
}
img{
    border-radius: 50%;
    border: 4px solid #F472B6;
}